<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--      fontawesome-->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

<!-- Image and text -->
    <section class="form-body">
<div class="navigation">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a id="btn3" href="#" type="button" class="btn btn-lg btn-primary">HOME</a>
</nav>
    </div>
        <h1 class="blur">🏛</h1>
         <div class="buttons">
             <div class="thinker1">
            <a id="btn1" class="btn btn-lg btn-dark" href="/customers" type="button" name="button1">CUSTOMERS LIST</a>
                 </div>
             <div class="thinker2">
            <a id="btn2" class="btn btn-lg  btn-dark" href="/transactionhistory" type="button" name="button2">TRANSACTION HISTORY</a>
                 </div>
        </div>
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
<style>
    body{
    background-color:#4D4646;
   background-image:url('http://www.lovethispic.com/uploaded_images/247617-Black-And-White-Building-Structure.jpg');
    width:100%;
    }
    .buttons{
    margin-top:5%;
    margin-left:42%;
    }
    .thinker1{
    padding-bottom:5%;
    margin-left: 3%;
    }
    .blur{
    font-size: 200px;
    margin-left:41%;
    margin-top:10%;
    }



</style>
</html>